.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 36px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100vh;
}

@media screen and (max-width: 1096px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow-y: scroll;
  }
}

.container-item-1 {
  max-width: 560px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.spiderman {
  width: 90%;
  -webkit-transform: translate3d(-100px, 0px, 0);
          transform: translate3d(-100px, 0px, 0);
}

@media screen and (max-width: 1096px) {
  .spiderman {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

.button {
  position: relative;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 4px;
  text-transform: uppercase;
  -webkit-transform: skewX(-10deg);
          transform: skewX(-10deg);
  background: linear-gradient(225deg, #ea1d22 0%, #b31317 100%);
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
}

@media screen and (max-width: 1096px) {
  .button {
    padding: 12px;
  }
}

.button::before, .button::after {
  opacity: 0;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.button::before {
  content: "";
  position: absolute;
  display: block;
  top: -2px;
  left: -2px;
  width: 30%;
  height: 70%;
  border-radius: 4px;
  border-top: solid 2px #fff;
  border-left: solid 2px #fff;
}

.button::after {
  content: "";
  position: absolute;
  display: block;
  bottom: -2px;
  right: -2px;
  width: 30%;
  height: 70%;
  border-radius: 4px;
  border-bottom: solid 2px #fff;
  border-right: solid 2px #fff;
}

.button:hover {
  -webkit-transform: skewX(-10deg) scale(1.05);
          transform: skewX(-10deg) scale(1.05);
}

.button:hover::before, .button:hover::after {
  opacity: 1;
}

.button-secondary {
  position: relative;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
  text-transform: uppercase;
  -webkit-transform: skewX(-10deg);
          transform: skewX(-10deg);
  background: transparent;
  border: 2px solid #ea1d22;
}

.button-secondary::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 0;
  height: 100%;
  background: linear-gradient(225deg, #ea1d22 0%, #b31317 100%);
  -webkit-transition: width 0.25s;
  transition: width 0.25s;
}

.button-secondary:hover {
  color: #edf1f7;
}

.button-secondary:hover::before {
  width: 100%;
}

.bg-video {
  position: absolute;
  z-index: -1;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bg-video::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background: linear-gradient(101.47deg, #0a0c10 26.38%, rgba(10, 12, 16, 0.8) 50.07%, #0a0c10 73.17%);
}

.bg-loader {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  background: linear-gradient(225deg, #ea1d22 0%, #b31317 100%);
}

header {
  padding-top: 16px;
  width: 100%;
}

.navbar {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-list li {
  margin-left: 24px;
}

@media screen and (max-width: 1096px) {
  .nav-list {
    display: none;
  }
}

.logo {
  max-width: 96px;
}

.nav-link {
  position: relative;
  display: inline-block;
  padding: 8px 16px;
  color: #959698;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 200;
  -webkit-transition: color 0.25s ease;
  transition: color 0.25s ease;
}

.nav-link::before {
  content: "";
  position: absolute;
  display: block;
  left: calc(50% - 1px);
  top: -100%;
  width: 2px;
  height: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(233, 29, 34, 0)), to(#e91d22));
  background: linear-gradient(180deg, rgba(233, 29, 34, 0) 0%, #e91d22 100%);
  -webkit-transition: height 0.5s ease;
  transition: height 0.5s ease;
}

.nav-link:hover {
  color: #f4f7fb;
}

.nav-link:hover::before {
  height: 100%;
}

.nav-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-social svg {
  width: 24px;
  margin: 0 8px;
  cursor: pointer;
}

.nav-social svg * {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.nav-social svg:hover * {
  fill: #f02a2f;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

@media screen and (max-width: 1096px) {
  .nav-social {
    display: none;
  }
}

.hamburger-menu {
  display: none;
}

@media screen and (max-width: 1096px) {
  .hamburger-menu {
    display: block;
    width: 48px;
    height: 48px;
    background-color: #edf1f7;
    border-radius: 8px;
  }
}

.m-1 {
  margin: 8px;
}

.m-2 {
  margin: 16px;
}

.m-3 {
  margin: 32px;
}

.m-4 {
  margin: 48px;
}

.m-5 {
  margin: 72px;
}

.mt-1 {
  margin-top: 8px;
}

.mt-2 {
  margin-top: 16px;
}

.mt-3 {
  margin-top: 32px;
}

.mt-4 {
  margin-top: 48px;
}

.mt-5 {
  margin-top: 72px;
}

.mr-1 {
  margin-right: 8px;
}

.mr-2 {
  margin-right: 16px;
}

.mr-3 {
  margin-right: 32px;
}

.mr-4 {
  margin-right: 48px;
}

.mr-5 {
  margin-right: 72px;
}

.mb-1 {
  margin-bottom: 8px;
}

.mb-2 {
  margin-bottom: 16px;
}

.mb-3 {
  margin-bottom: 32px;
}

.mb-4 {
  margin-bottom: 48px;
}

.mb-5 {
  margin-bottom: 72px;
}

.ml-1 {
  margin-left: 8px;
}

.ml-2 {
  margin-left: 16px;
}

.ml-3 {
  margin-left: 32px;
}

.ml-4 {
  margin-left: 48px;
}

.ml-5 {
  margin-left: 72px;
}

.mx-1 {
  margin-left: 8px;
  margin-right: 8px;
}

.mx-2 {
  margin-left: 16px;
  margin-right: 16px;
}

.mx-3 {
  margin-left: 32px;
  margin-right: 32px;
}

.mx-4 {
  margin-left: 48px;
  margin-right: 48px;
}

.mx-5 {
  margin-left: 72px;
  margin-right: 72px;
}

.my-1 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.my-2 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.my-3 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.my-4 {
  margin-top: 48px;
  margin-bottom: 48px;
}

.my-5 {
  margin-top: 72px;
  margin-bottom: 72px;
}

.p-1 {
  padding: 8px;
}

.p-2 {
  padding: 16px;
}

.p-3 {
  padding: 32px;
}

.p-4 {
  padding: 48px;
}

.p-5 {
  padding: 72px;
}

.pt-1 {
  padding-top: 8px;
}

.pt-2 {
  padding-top: 16px;
}

.pt-3 {
  padding-top: 32px;
}

.pt-4 {
  padding-top: 48px;
}

.pt-5 {
  padding-top: 72px;
}

.pr-1 {
  padding-right: 8px;
}

.pr-2 {
  padding-right: 16px;
}

.pr-3 {
  padding-right: 32px;
}

.pr-4 {
  padding-right: 48px;
}

.pr-5 {
  padding-right: 72px;
}

.pb-1 {
  padding-bottom: 8px;
}

.pb-2 {
  padding-bottom: 16px;
}

.pb-3 {
  padding-bottom: 32px;
}

.pb-4 {
  padding-bottom: 48px;
}

.pb-5 {
  padding-bottom: 72px;
}

.pl-1 {
  padding-left: 8px;
}

.pl-2 {
  padding-left: 16px;
}

.pl-3 {
  padding-left: 32px;
}

.pl-4 {
  padding-left: 48px;
}

.pl-5 {
  padding-left: 72px;
}

.px-1 {
  padding-left: 8px;
  padding-right: 8px;
}

.px-2 {
  padding-left: 16px;
  padding-right: 16px;
}

.px-3 {
  padding-left: 32px;
  padding-right: 32px;
}

.px-4 {
  padding-left: 48px;
  padding-right: 48px;
}

.px-5 {
  padding-left: 72px;
  padding-right: 72px;
}

.py-1 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.py-2 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-3 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.py-4 {
  padding-top: 48px;
  padding-bottom: 48px;
}

.py-5 {
  padding-top: 72px;
  padding-bottom: 72px;
}

.bg-loader svg path {
  fill: transparent;
  -webkit-animation: logo-spiderman 10s ease infinite alternate;
          animation: logo-spiderman 10s ease infinite alternate;
}

@-webkit-keyframes logo-spiderman {
  0% {
    stroke-width: 0;
    stroke-dasharray: 1 100;
    fill: transparent;
  }
  25% {
    stroke-width: 1;
    stroke-dasharray: 100 0;
    fill: transparent;
  }
  60%,
  100% {
    stroke-width: 0.4;
    fill: #e5e9ef;
  }
}

@keyframes logo-spiderman {
  0% {
    stroke-width: 0;
    stroke-dasharray: 1 100;
    fill: transparent;
  }
  25% {
    stroke-width: 1;
    stroke-dasharray: 100 0;
    fill: transparent;
  }
  60%,
  100% {
    stroke-width: 0.4;
    fill: #e5e9ef;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #0a0c10;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #272a31;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #0a0c10;
}

body,
textarea,
input,
button {
  font-family: "Mukta", sans-serif;
}

button {
  cursor: pointer;
}

img,
svg {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  color: #edf1f7;
}

p {
  font-size: 16px;
  color: #959698;
  letter-spacing: 1px;
  line-height: 140%;
}

.w-auto {
  width: auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.border {
  border: solid 1px red;
}
/*# sourceMappingURL=style.css.map */